@import "projects/app/src/styles-variables";

h1 {
  margin: 0;
}

ace {
  height: 200px;
}

::ng-deep .json-editor .mat-tab-label {
  height: 30px;
  padding: 0 15px;
  min-width: 20px;
}

.tab-content {
  min-height: 200px;
  padding-top: 5px;
}
