<div class="container">
  <div
    *ngIf="workspace$.asObservable() | async as workspace"
    [ngClass]="routeAnimationsElements"
  >
    <div class="media">
      <fa-icon
        [icon]="faExecutions"
        class="heading align-self-start mr-3"
      ></fa-icon>
      <div class="media-body">
        <h3>Start a new test execution</h3>
      </div>
    </div>
    <sh-error-state
      text="Execution not possible due to errors on workspace level!
                Please fix the errors first."
      *ngIf="workspaceHasErrors()"
    ></sh-error-state>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="selectionFormGroup" label="Test selection">
        <form [formGroup]="selectionFormGroup">
          <div class="row">
            <div class="col">
              <mat-radio-group
                formControlName="type"
                class="vertical"
                [(ngModel)]="selectionType"
              >
                <mat-radio-button class="radio-button" value="all">
                  All
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="filter-tag">
                  Filtered by tag
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="filter-scenario">
                  Filtered by scenario
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="filter-feature">
                  Filtered by feature
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row" *ngIf="selectionType == 'filter-scenario'">
            <div class="col">
              <label>Scenario filters</label>
              <small
                *ngIf="filterScenarios.length == 0"
                class="form-text warn-text"
              >
                Please define at least one scenario filter expression.
              </small>
              <sh-multi-string-input
                [order]="false"
                [(sequence)]="filterScenarios"
                [validator]="regexValidator"
              ></sh-multi-string-input>
              <small class="form-text text-muted">
                Make use of regular expressions for filtering e.g.
                <span class="code">user-.*</span>.
              </small>
            </div>
          </div>
          <div class="row" *ngIf="selectionType == 'filter-feature'">
            <div class="col">
              <label>Feature filters</label>
              <small
                *ngIf="filterFeatures.length == 0"
                class="form-text warn-text"
              >
                Please define at least one feature filter expression.
              </small>
              <sh-multi-string-input
                [order]="false"
                [(sequence)]="filterFeatures"
                [validator]="regexValidator"
              ></sh-multi-string-input>
              <small class="form-text text-muted">
                Make use of regular expressions for filtering e.g.
                <span class="code">user-.*</span>.
              </small>
            </div>
          </div>
          <div class="row" *ngIf="selectionType == 'filter-tag'">
            <div class="col">
              <label>Tag filters</label>
              <small *ngIf="filterTags.length == 0" class="form-text warn-text">
                Please define at least one tag filter expression.
              </small>
              <sh-multi-string-input
                [order]="false"
                [(sequence)]="filterTags"
                [validator]="regexValidator"
              ></sh-multi-string-input>
              <small class="form-text text-muted">
                Note that tags start with a
                <span class="code">@</span> character.
              </small>
              <small class="form-text text-muted">
                Make use of regular expressions for filtering e.g.
                <span class="code">@user-.*</span>.
              </small>
            </div>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              class="step"
              [disabled]="workspaceHasErrors() || invalidSelection()"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="varFormGroup">
        <ng-template matStepLabel>
          Variables
          <sh-server-field-error
            path="sessionSettings.variables"
            [fieldErrors]="fieldErrors$ | async"
            displayType="indicator"
          ></sh-server-field-error>
        </ng-template>
        <form [formGroup]="varFormGroup">
          <div
            *ngIf="keys(workspace.variables).length; else noVars"
            class="variables-container"
          >
            <table
              mat-table
              [dataSource]="variableKeys$ | async"
              class="mat-elevation-z8 variables"
            >
              <tr
                mat-header-row
                *matHeaderRowDef="[
                  'key',
                  'schema',
                  'defaultValue',
                  'value',
                  'action'
                ]"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: ['key', 'schema', 'defaultValue', 'value', 'action']
                "
                [ngClass]="isVariableSet(row) ? 'overridden' : 'default'"
              ></tr>

              <ng-container matColumnDef="key" sticky>
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  <sh-server-field-error
                    path="sessionSettings.variables[{{ element }}]"
                    [fieldErrors]="fieldErrors$ | async"
                    displayType="indicator-tooltip"
                  ></sh-server-field-error>
                  <span class="code">{{ element }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="schema">
                <th mat-header-cell *matHeaderCellDef>JSON-Schema</th>
                <td mat-cell *matCellDef="let element">
                  <sh-json-schema-view
                    [schema]="workspace.variables[element].schema"
                  ></sh-json-schema-view>
                </td>
              </ng-container>
              <ng-container matColumnDef="defaultValue">
                <th mat-header-cell *matHeaderCellDef>Default value</th>
                <td mat-cell *matCellDef="let element">
                  <sh-json-view
                    [json]="workspace.variables[element].defaultValue"
                  ></sh-json-view>
                </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Overridden value</th>
                <td mat-cell *matCellDef="let element">
                  <sh-json-view
                    *ngIf="isVariableSet(element); else defaultValue"
                    [json]="executionStart.sessionSettings.variables[element]"
                  ></sh-json-view>
                  <ng-template #defaultValue>-</ng-template>
                  <sh-server-field-error
                    path="sessionSettings.variables[{{ element }}]"
                  ></sh-server-field-error>
                </td>
              </ng-container>
              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    color="accent"
                    title="Override value"
                    (click)="setVariable(element)"
                    [disabled]="workspaceHasErrors()"
                  >
                    <fa-icon icon="edit"></fa-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    title="Erase overridden value to default"
                    *ngIf="isVariableSet(element)"
                    (click)="eraseVariable(element)"
                  >
                    <fa-icon icon="eraser"></fa-icon>
                  </button>
                </td>
              </ng-container>
            </table>
          </div>
          <ng-template #noVars>
            <p>No variables defined on workspace level</p>
          </ng-template>
          <div>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              class="step"
              [disabled]="workspaceHasErrors()"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="settingsFormGroup">
        <ng-template matStepLabel>
          Additional settings
          <sh-server-field-error
            [path]="['parallelSessionCount']"
            [fieldErrors]="fieldErrors$ | async"
            displayType="indicator"
          ></sh-server-field-error>
        </ng-template>
        <form [formGroup]="settingsFormGroup">
          <div class="row">
            <div class="col">
              <label>Parallelize execution per</label>
              <mat-radio-group
                formControlName="parallelizationMode"
                class="vertical"
                [(ngModel)]="executionStart.sessionSettings.parallelizationMode"
                (change)="changedParallelizationMode()"
              >
                <mat-radio-button class="radio-button" value="scenario">
                  scenario
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="feature">
                  feature
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Number of parallel executions</label>
              <div class="row">
                <div class="col-md-2">
                  <input
                    class="form-control"
                    [disabled]="workspaceHasErrors()"
                    min="1"
                    [max]="maxParallelSessionCount()"
                    formControlName="parallelSessionCount"
                    type="number"
                    [(ngModel)]="executionStart.parallelSessionCount"
                  />
                </div>
                <div class="col-md-10">
                  <mat-slider
                    min="1"
                    [max]="maxParallelSessionCount()"
                    formControlName="parallelSessionCount"
                    [(ngModel)]="executionStart.parallelSessionCount"
                  ></mat-slider>
                </div>
              </div>
              <sh-server-field-error
                [path]="['parallelSessionCount']"
                [fieldErrors]="fieldErrors$ | async"
              ></sh-server-field-error>
            </div>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              (click)="start()"
              class="step"
              [disabled]="workspaceHasErrors()"
            >
              Start
            </button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
