@import "~@angular/material/theming";

@mixin sh-server-field-error-component($theme) {
  $warn: map-get($theme, warn);

  .validation-errors {
    color: mat-color($warn);
  }

  .warn-tooltip {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
    white-space: pre-wrap;
    font-size: 14px;
  }
}
