@import "projects/app/src/styles-variables";

.inline-edit {
  display: flex;
  flex-wrap: wrap;

  .wrapper {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    margin: auto;
  }

  .actions {
    flex: 0 0 52px;
    margin: auto;
    padding-left: 4px;
    height: 24px;

    button {
      padding: 2px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }

    .indicator {
      cursor: pointer;
      padding: 2px;
      width: 24px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.25s, opacity 0.25s linear;
    }
  }
}

.inline-edit.view:hover .indicator {
  visibility: visible !important;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.inline-edit.non-editable .actions {
  display: none !important;
}
