@import "~@angular/material/theming";

@mixin sh-inline-edit-component($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .inline-edit .indicator {
    color: mat-color($background);
    background-color: mat-color($background, default-contrast);
  }
}
