@import "projects/app/src/styles-variables";

.inline-edit {
  position: relative;
  .col {
    padding-left: 0;
    margin: auto;
  }
  .indicator {
    flex: 0 0 16px;
    cursor: pointer;
    padding: 2px 4px;
    margin-left: 3px;
    width: 16px;
    visibility: hidden;
  }
  .actions {
    z-index: 100;
    display: none;
    position: absolute;
    right: 15px;
    bottom: -25px;
    width: 54px;
    height: 25px;

    button {
      padding: 2px;
      width: 21px;
      height: 19px;
    }
  }
}

.inline-edit.edit .actions {
  display: block !important;
}

.inline-edit.view:hover .indicator {
  visibility: visible !important;
}
