<div
  class="string-input-sequence"
  [ngClass]="{ 'view-mode': !editMode, 'edit-mode': editMode }"
>
  <input type="hidden" #dragDisabled value="1" />
  <table
    mat-table
    cdkDropList
    (cdkDropListDropped)="onItemDrop($event)"
    [dataSource]="sequence"
    [cdkDropListData]="sequence"
    class="mat-elevation-z8"
  >
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      cdkDrag
      [cdkDragData]="row"
      [cdkDragDisabled]="!editMode || dragDisabled.value == '1'"
      (cdkDragReleased)="dragDisabled.value = '1'"
      hover-class="hover"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="columns" hover-class="hover"></tr>
    <ng-container matColumnDef="drag">
      <td mat-cell *matCellDef="let element">
        <fa-icon
          cdkDragHandle
          class="drag-handle"
          (touchstart)="dragDisabled.value = '0'"
          (touchend)="dragDisabled.value = '1'"
          (mousedown)="dragDisabled.value = '0'"
          (mouseup)="dragDisabled.value = '1'"
          icon="grip-vertical"
        ></fa-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div *ngIf="editMode">
          <fa-icon icon="plus"></fa-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="item">
      <td mat-cell *matCellDef="let element; let i = index" #row>
        <sh-inline-edit
          [editable]="editMode"
          [value]="element"
          [validator]="validator"
          (save)="saveItem(i, $event)"
          [controlFactory]="controlFactory"
        >
          <ng-template inlineView>
            <ng-container
              *ngTemplateOutlet="
                itemViewTpl ? itemViewTpl.tpl : view;
                context: { item: element }
              "
            >
            </ng-container>
          </ng-template>
          <ng-template inlineEdit let-fc>
            <mat-form-field class="item">
              <textarea
                *ngIf="textarea"
                [formControl]="textarea ? fc : null"
                matInput
                cdkTextareaAutosize
                [focus]="true"
                [saveOnEnter]="!(autoCompleteSelected$ | async)"
                cancelOnEsc
                cdkAutosizeMinRows="1"
                [ngClass]="{ code: codeInput }"
                [matAutocomplete]="auto"
              ></textarea>
              <input
                *ngIf="!textarea"
                [formControl]="!textarea ? fc : null"
                matInput
                [focus]="true"
                [saveOnEnter]="!(autoCompleteSelected$ | async)"
                cancelOnEsc
                [ngClass]="{ code: codeInput }"
                [matAutocomplete]="auto"
              />
              <mat-error *ngFor="let error of fieldErrors(fc)">{{
                error
              }}</mat-error>
              <mat-autocomplete
                #auto
                (optionActivated)="markAutoCompleteSelected()"
              >
                <mat-option
                  *ngFor="let option of autoCompleteItems$ | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ng-template>
        </sh-inline-edit>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div *ngIf="editMode">
          <mat-form-field class="item">
            <mat-label>New</mat-label>
            <textarea
              *ngIf="textarea"
              [formControl]="textarea ? newItemCtrl : null"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              (keydown.enter)="addItemOnEnter($event)"
              [ngClass]="{ code: codeInput }"
              [matAutocomplete]="auto"
            ></textarea>
            <input
              *ngIf="!textarea"
              [formControl]="!textarea ? newItemCtrl : null"
              matInput
              (keydown.enter)="addItemOnEnter($event)"
              [ngClass]="{ code: codeInput }"
              [matAutocomplete]="auto"
            />
            <mat-error *ngFor="let error of fieldErrors(newItemCtrl)">{{
              error
            }}</mat-error>
            <mat-autocomplete
              #auto
              (optionActivated)="markAutoCompleteSelected()"
            >
              <mat-option
                *ngFor="let option of newAutoCompleteItems$ | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <td mat-cell *matCellDef="let element; let i = index" align="right">
        <button
          *ngIf="editMode"
          mat-icon-button
          color="warn"
          class="item-action"
          (click)="deleteItem(i)"
        >
          <fa-icon icon="trash"></fa-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef align="right">
        <div *ngIf="editMode">
          <button
            mat-icon-button
            color="accent"
            class="item-action"
            (click)="addItem()"
            [disabled]="
              newItemCtrl.value.trim().length == 0 || !newItemCtrl.valid
            "
          >
            <fa-icon icon="check-circle"></fa-icon>
          </button>
          <button mat-icon-button class="item-action" (click)="clearNewItem()">
            <fa-icon icon="times-circle"></fa-icon>
          </button>
        </div>
      </td>
    </ng-container>
  </table>
</div>
<ng-template #view let-item="item">
  {{ item }}
</ng-template>
