<div class="container">
  <div *ngIf="execution$ | async as exec" [ngClass]="routeAnimationsElements">
    <div class="row">
      <div class="col-sm-8">
        <mat-card class="item">
          <mat-card-content>
            <div class="row">
              <div class="col col-4">
                Status:
              </div>
              <div class="col col-8">
                <fa-icon
                  [icon]="statusIcon(exec.status)"
                  [spin]="statusIconSpin(exec.status)"
                ></fa-icon>
                {{ exec.status }}
              </div>
            </div>
            <div class="row">
              <div class="col col-4">
                Started:
              </div>
              <div class="col col-8">
                <span *ngIf="exec.startedAt">{{
                  exec.startedAt | date: "medium"
                }}</span>
                <span *ngIf="!exec.startedAt">Starting soon</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-4">
                Stopped:
              </div>
              <div class="col col-8">
                <span *ngIf="exec.completedAt">{{
                  exec.completedAt | date: "medium"
                }}</span>
                <span *ngIf="!exec.completedAt">-</span>
              </div>
            </div>
            <div class="row">
              <div class="col col-4">Result:</div>
              <div class="col col-8">
                <sh-execution-stats [stats]="exec.stats"></sh-execution-stats>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngIf="getFixtures(exec.fixtures, before).length > 0">
      <h3>Before fixtures</h3>
      <sh-execution-detail-fixtures
        [fixtures]="getFixtures(exec.fixtures, before)"
        [exec]="exec"
        [wid]="wid"
      ></sh-execution-detail-fixtures>
    </div>

    <h3>Backlog</h3>
    <div class="row">
      <div class="col-sm-12">
        <mat-accordion class="items-headers-align" multi>
          <ng-container *ngFor="let item of exec.backlog">
            <mat-expansion-panel *ngIf="getFeature(item)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <fa-icon
                    [icon]="getIcon(item)"
                    [title]="getTitle(item)"
                  ></fa-icon>
                  <span>{{ getName(item) }}</span>
                </mat-panel-title>
                <mat-panel-description>
                  <span>
                    <sh-execution-stats
                      class="indicator"
                      [stats]="item.stats"
                    ></sh-execution-stats>
                    <fa-icon
                      class="indicator"
                      [icon]="statusIcon(item.status)"
                      [spin]="statusIconSpin(item.status)"
                      [title]="item.status"
                    ></fa-icon>
                  </span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <p>
                  <mat-divider></mat-divider>
                </p>
                <p>
                  <span class="font-weight-bold">{{ getTitle(item) }}:</span>
                  {{ getName(item) }}
                </p>
                <p class="font-weight-bold">Scenarios:</p>
                <mat-accordion
                  *ngFor="let scenario of getFeature(item).scenarios"
                  class="items-headers-align"
                  multi
                >
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <fa-icon
                          [icon]="getIcon(scenario)"
                          [title]="getTitle(scenario)"
                        ></fa-icon>
                        <span>{{ getName(scenario) }}</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        <span>
                          <sh-execution-stats
                            class="indicator"
                            [stats]="scenario.stats"
                          ></sh-execution-stats>
                          <fa-icon
                            class="indicator"
                            [icon]="statusIcon(scenario.status)"
                            [spin]="statusIconSpin(scenario.status)"
                            [title]="scenario.status"
                          ></fa-icon>
                        </span>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <p>
                        <mat-divider></mat-divider>
                      </p>
                      <p>
                        <span class="font-weight-bold"
                          >{{ getTitle(scenario) }}:</span
                        >
                        {{ getName(scenario) }}
                      </p>
                      <p class="font-weight-bold">Steps:</p>
                      <mat-accordion class="items-headers-align" multi>
                        <sh-execution-detail-steps
                          [stepItems]="scenario.steps"
                          [wid]="wid"
                          [exec]="exec"
                        ></sh-execution-detail-steps>
                      </mat-accordion>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-template>
            </mat-expansion-panel>
            <ng-container *ngIf="getStepItem(item) as stepItem">
              <sh-execution-detail-steps
                [stepItems]="[stepItem]"
                [wid]="wid"
                [exec]="exec"
              ></sh-execution-detail-steps>
            </ng-container>
          </ng-container>
        </mat-accordion>
      </div>
    </div>

    <div *ngIf="getFixtures(exec.fixtures, after).length > 0">
      <h3>After fixtures</h3>
      <sh-execution-detail-fixtures
        [fixtures]="getFixtures(exec.fixtures, after)"
        [exec]="exec"
        [wid]="wid"
      ></sh-execution-detail-fixtures>
    </div>
  </div>
</div>
