<div [ngClass]="{ 'view-mode': !editMode, 'edit-mode': editMode }">
  <mat-accordion
    class="items-headers-align"
    multi
    *ngFor="let feature of workspace.features; let fi = index"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <fa-icon [icon]="featureIcon" title="Feature"></fa-icon>
          <span>{{ feature.name }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div>
        <div class="inline-meta">
          <div class="section-actions">
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['executions', 'new']"
              [queryParams]="{ feature: feature.name }"
              title="Execute all feature scenarios"
            >
              <fa-icon icon="play"></fa-icon>
            </a>
            <button
              *ngIf="editMode"
              mat-icon-button
              color="warn"
              (click)="deleteFeature(fi)"
            >
              <fa-icon icon="trash"></fa-icon>
            </button>
          </div>
          <div class="row">
            <div class="col font-weight-bold">Feature:</div>
            <div class="col-9">
              <sh-inline-edit
                [editable]="editMode"
                [value]="feature.name"
                [validator]="validatorRequired"
                (save)="feature.name = $event"
              >
                <ng-template inlineView>{{ feature.name }}</ng-template>
                <ng-template inlineEdit let-fc>
                  <mat-form-field class="full">
                    <input
                      matInput
                      [formControl]="fc"
                      type="text"
                      placeholder="Name"
                      [focus]="true"
                      saveOnEnter
                      cancelOnEsc
                    />
                    <mat-error *ngIf="fc.errors?.required"
                      >Required input
                    </mat-error>
                  </mat-form-field>
                </ng-template>
              </sh-inline-edit>
            </div>
          </div>
          <ng-container
            *ngTemplateOutlet="
              annotationRows;
              context: { annotationContext: feature }
            "
          >
          </ng-container>
        </div>
      </div>
      <p class="font-weight-bold">Background:</p>

      <mat-accordion class="items-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Background steps</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container
            *ngTemplateOutlet="
              stepSequence;
              context: {
                sequence: feature.background
              }
            "
          >
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>

      <p class="font-weight-bold">Scenarios:</p>
      <mat-accordion
        *ngFor="let scenario of feature.scenarios; let si = index"
        class="items-headers-align"
        multi
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon [icon]="scenarioIcon" title="Scenario"></fa-icon>
              <span>{{ scenario.name }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div>
            <div class="inline-meta">
              <div class="section-actions">
                <a
                  mat-icon-button
                  color="accent"
                  [routerLink]="['executions', 'new']"
                  [queryParams]="{ scenario: scenario.name }"
                  title="Execute scenario"
                >
                  <fa-icon icon="play"></fa-icon>
                </a>
                <button
                  *ngIf="editMode"
                  mat-icon-button
                  color="warn"
                  (click)="deleteScenario(feature, si)"
                >
                  <fa-icon icon="trash"></fa-icon>
                </button>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Scenario:</div>
                <div class="col-9">
                  <sh-inline-edit
                    [editable]="editMode"
                    [value]="scenario.name"
                    [validator]="validatorRequired"
                    (save)="scenario.name = $event"
                  >
                    <ng-template inlineView>{{ scenario.name }}</ng-template>
                    <ng-template inlineEdit let-fc>
                      <mat-form-field class="full">
                        <input
                          matInput
                          [formControl]="fc"
                          type="text"
                          placeholder="Name"
                          [focus]="true"
                          saveOnEnter
                          cancelOnEsc
                        />
                        <mat-error *ngIf="fc.errors?.required"
                          >Required input
                        </mat-error>
                      </mat-form-field>
                    </ng-template>
                  </sh-inline-edit>
                </div>
              </div>
              <ng-container
                *ngTemplateOutlet="
                  annotationRows;
                  context: { annotationContext: scenario }
                "
              >
              </ng-container>
            </div>
          </div>
          <p class="font-weight-bold">Steps:</p>
          <ng-container
            *ngTemplateOutlet="stepSequence; context: { sequence: scenario }"
          >
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
      <button
        *ngIf="editMode"
        mat-mini-fab
        color="accent"
        class="add"
        title="Add scenario"
        (click)="addScenario(feature)"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <button
    *ngIf="editMode"
    mat-mini-fab
    color="accent"
    class="add"
    title="Add feature"
    (click)="addFeature()"
  >
    <fa-icon icon="plus"></fa-icon>
  </button>
</div>

<ng-template #stepSequence let-sequence="sequence">
  <div class="step-sequence">
    <sh-multi-string-input
      [textarea]="true"
      [(sequence)]="sequence.steps"
      [editMode]="editMode"
      [validator]="validatorRequired"
      [codeInput]="true"
      [autoCompleteSource]="stepAutoCompleteSource"
    >
      <ng-template multiStringView let-item="item">
        <div class="step">
          <fa-icon
            class="warn-text"
            *ngIf="!instruction(item).matchingSpec"
            icon="exclamation-circle"
            matTooltip="No matching step found! Please check for correct syntax."
            matTooltipClass="warn-tooltip"
          ></fa-icon>
          <sh-step-request [instruction]="instruction(item)"></sh-step-request>
        </div>
      </ng-template>
      <ng-template multiStringAutoSuggestOption let-option>
        <sh-step-abstract [instruction]="option"></sh-step-abstract>
      </ng-template>
    </sh-multi-string-input>
  </div>
</ng-template>

<ng-template #annotationRows let-annotationContext="annotationContext">
  <div class="row">
    <div class="col font-weight-bold">Comments:</div>
    <div class="col-9 comments">
      <sh-inline-edit
        [editable]="editMode"
        [value]="annotationContext.comments?.join('\n')"
        (save)="annotationContext.comments = $event.split('\n')"
      >
        <ng-template inlineView>{{
          annotationContext.comments?.join("\n")
        }}</ng-template>
        <ng-template inlineEdit let-fc>
          <mat-form-field class="full">
            <textarea
              [formControl]="fc"
              placeholder="Comments"
              matInput
              cdkTextareaAutosize
              [focus]="true"
              saveOnEnter
              cancelOnEsc
              cdkAutosizeMinRows="1"
            ></textarea>
          </mat-form-field>
        </ng-template>
      </sh-inline-edit>
    </div>
  </div>
  <div class="row">
    <div class="col font-weight-bold">Tags:</div>
    <div class="col-9">
      <sh-inline-edit
        [editable]="editMode"
        [value]="annotationContext.tags?.join(' ')"
        (save)="annotationContext.tags = splitTags($event)"
        [validator]="validatorTagsLine"
      >
        <ng-template inlineView>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of annotationContext.tags">{{
              tag
            }}</mat-chip>
          </mat-chip-list>
        </ng-template>
        <ng-template inlineEdit let-fc>
          <mat-form-field class="full">
            <input
              matInput
              [formControl]="fc"
              type="text"
              placeholder="Tags"
              [focus]="true"
              saveOnEnter
              cancelOnEsc
            />
            <mat-error *ngIf="fc.errors?.pattern"
              >Tags are separated by space with a leading @
            </mat-error>
          </mat-form-field>
        </ng-template>
      </sh-inline-edit>
    </div>
  </div>
</ng-template>
