@import "../../../../../styles-variables";

mat-expansion-panel {
  margin-bottom: 1em !important;
}

.step-sequence {
  width: 100%;

  sh-inline-edit {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  sh-inline-edit sh-step-view {
    display: block;
    overflow-x: auto;
  }
}

.feature-action,
.scenario-action {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.active-feature .feature-action,
.active-scenario .scenario-action {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.comments {
  white-space: pre-wrap;
}

.section-actions {
  button {
    margin-right: 1rem;
  }
}
