* {
  &:active,
  :focus {
    outline: none !important;
  }
}

pre {
  margin: 1em 0px;
}

.mat-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

p {
  a {
    border-bottom: 3px solid;
  }
}

.xng-breadcrumb-link {
  cursor: pointer;
}

.xng-breadcrumb-trail {
  font-weight: 600;
}

.hljs {
  background: none;
}

mat-accordion .mat-expansion-panel-header-title {
  min-width: 0;
  margin: auto 0;

  fa-icon {
    margin: 0 5px 0 0;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

mat-accordion .mat-expansion-panel-header-description,
mat-accordion .mat-expansion-panel-header-description div.info {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

button.add {
  margin: 1em auto 0;
  display: block;
}

mat-form-field.full {
  width: 100%;
}

.fab-create {
  position: relative;
  button,
  a {
    position: absolute;
    right: 0;
    top: -40px;
  }
}

fa-icon.heading {
  font-size: 2em;
}

.container {
  margin-top: 20px;
}

.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 12px;
  white-space: pre;
}

.code .hljs {
  padding: 0 !important;
}

.mat-cell,
.mat-header-cell {
  padding-right: 1em !important;
}

.inline-meta .row {
  padding: 4px 0;
}
