* {
  &:active,
  :focus {
    outline: none !important;
  }
}

body {
  font-size: 14px;
}

pre {
  margin: 1em 0px;
}

.mat-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

.xng-breadcrumb-link {
  cursor: pointer;
}

.xng-breadcrumb-trail {
  font-weight: 600;
}

.hljs {
  background: none;
  padding: 0;
}

mat-accordion .mat-expansion-panel-header-title {
  min-width: 0;
  margin: auto 0;

  fa-icon {
    margin: 0 5px 0 0;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

mat-accordion .mat-expansion-panel-header-description,
mat-accordion .mat-expansion-panel-header-description div.info {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

mat-accordion mat-expansion-panel {
  margin-bottom: 1em !important;

  mat-divider {
    margin: 0.5em 0 !important;
  }
}

button.add {
  margin: 1em auto 0;
  display: block;
}

mat-form-field.full {
  width: 100%;
}

.fab-create {
  position: relative;

  button,
  a {
    position: absolute;
    right: 0;
    top: -40px;
  }
}

fa-icon.heading {
  font-size: 2em;
}

.container {
  margin-top: 20px;
}

mat-card.item {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 8px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a,
  .status {
    fa-icon {
      position: relative;
      margin: 4px;
    }
  }

  .status {
    min-width: 120px;
  }

  .stats {
    margin: 0 10px;
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}

.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 12px;
  white-space: pre;
}

.code .hljs {
  padding: 0 !important;
}

.mat-cell,
.mat-header-cell {
  padding-right: 1em !important;
}

.inline-meta .row {
  padding: 4px 0;
}

.main-actions {
  margin-bottom: 0.5em;

  button,
  a,
  mat-slide-toggle {
    margin-right: 1rem;
    line-height: 24px;
  }
}

.section-actions {
  margin-top: 0.5em;
  text-align: right;

  button,
  a,
  mat-slide-toggle {
    margin-left: 1rem;
    line-height: 24px;
  }
}

markdown > p {
  margin: 0;
}

mat-toolbar.sub {
  min-height: 45px;
  font-size: 14px;

  mat-toolbar-row {
    min-height: 45px;
    height: auto;
    font-size: 14px;
    white-space: normal;
  }

  h3 {
    font-size: 14px;
    font-weight: bolder;

    fa-icon {
      margin-right: 0.5em;
    }
  }
}
