@import "~@angular/material/theming";

@mixin sh-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  a {
    color: mat-color($foreground, text);

    &:hover {
      color: mat-color($accent);
    }
  }

  p {
    a {
      color: mat-color($accent);

      &:hover {
        color: mat-color($accent, darker);
      }
    }
  }

  .warn-text {
    color: mat-color($warn);
  }

  .warn-tooltip {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
    white-space: pre-wrap;
    font-size: 14px;
  }
}
