@import "../../../../styles-variables";

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 8px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }

  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a,
  .status {
    fa-icon {
      position: relative;
      font-size: 16px;
      margin: 4px;
    }
  }
}

.indicator {
  margin: 0 0 0 5px;
}

.request,
.response {
  margin: 1rem 0;
}

.response .error-message {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 12px;
}
