@import "../../../../../styles-variables";

.abstract {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 12px;
}

fa-icon.payload {
  padding: 0 0.5em;
}
