<div class="container">
  <div
    *ngIf="workspace$.asObservable() | async as workspace"
    [ngClass]="routeAnimationsElements"
  >
    <div class="media">
      <fa-icon
        [icon]="['fas', 'box']"
        class="heading align-self-start mr-3"
      ></fa-icon>
      <div class="media-body">
        <sh-inline-edit
          [value]="workspace.name"
          [validator]="validatorRequired"
          (save)="workspace.name = $event"
          [editable]="editMode"
        >
          <ng-template inlineView>
            <h3 class="mt-0">{{ workspace.name }}</h3>
          </ng-template>
          <ng-template inlineEdit let-fc>
            <mat-form-field class="full">
              <mat-label>Name</mat-label>
              <input
                [formControl]="fc"
                matInput
                [focus]="true"
                [saveOnEnter]="true"
                cancelOnEsc
              />
              <mat-error *ngIf="fc.errors?.required">Required input</mat-error>
            </mat-form-field>
          </ng-template>
        </sh-inline-edit>
        <div class="main-actions">
          <mat-slide-toggle [(ngModel)]="editMode">
            Edit mode
          </mat-slide-toggle>
          <a mat-stroked-button color="accent" routerLink="executions/new">
            <fa-icon icon="play"></fa-icon>
            Execute
          </a>
          <button
            *ngIf="editMode"
            mat-stroked-button
            color="warn"
            (click)="delete()"
          >
            <fa-icon icon="trash"></fa-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <sh-error-state
      text="Workspace settings are invalid!
                Please fix the errors before executing tests."
      *ngIf="workspace.errors?.length > 0"
    ></sh-error-state>
    <mat-tab-group>
      <mat-tab label="Tests">
        <div class="tab-body">
          <sh-workspace-features
            [workspace]="workspace"
            [editMode]="editMode"
            [stepsCollection]="stepsCollection$ | async"
          ></sh-workspace-features>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Providers
          <sh-server-field-error
            path="providers"
            [fieldErrors]="allErrors$ | async"
            displayType="indicator"
          ></sh-server-field-error>
        </ng-template>
        <div class="tab-body">
          <sh-workspace-providers
            [workspace]="workspace"
            [editMode]="editMode"
            [errors]="allErrors$ | async"
          ></sh-workspace-providers>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Variables
          <sh-server-field-error
            path="variables"
            [fieldErrors]="allErrors$ | async"
            displayType="indicator"
          ></sh-server-field-error>
        </ng-template>
        <div class="tab-body">
          <p>Variables for increasing re-use and flexibility in tests</p>
          <div class="variables-container">
            <table
              mat-table
              [dataSource]="variableKeys$ | async"
              class="mat-elevation-z8"
            >
              <tr mat-header-row *matHeaderRowDef="variableColumns()"></tr>
              <tr mat-row *matRowDef="let row; columns: variableColumns()"></tr>

              <ng-container matColumnDef="key" sticky>
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let key">
                  <sh-server-field-error
                    path="variables[{{ key }}]"
                    [fieldErrors]="fieldErrors$ | async"
                    displayType="indicator-tooltip"
                  ></sh-server-field-error>
                  <span class="code">{{ key }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="defaultValue">
                <th mat-header-cell *matHeaderCellDef>Default value</th>
                <td mat-cell *matCellDef="let key">
                  <sh-json-view
                    [json]="workspace.variables[key].defaultValue"
                  ></sh-json-view>
                </td>
              </ng-container>
              <ng-container matColumnDef="schema">
                <th mat-header-cell *matHeaderCellDef>JSON-Schema</th>
                <td mat-cell *matCellDef="let key">
                  <sh-json-schema-view
                    [schema]="workspace.variables[key].schema"
                  ></sh-json-schema-view>
                </td>
              </ng-container>
              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let key">
                  <button
                    mat-icon-button
                    color="accent"
                    (click)="editVariable(key, workspace.variables[key])"
                  >
                    <fa-icon icon="edit"></fa-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="deleteVariable(key)"
                  >
                    <fa-icon icon="trash"></fa-icon>
                  </button>
                </td>
              </ng-container>
            </table>
          </div>
          <button
            mat-mini-fab
            color="primary"
            class="add"
            (click)="addVariable()"
            *ngIf="editMode"
          >
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Syntax preferences
          <sh-server-field-error
            path="gherkinPreferences"
            [fieldErrors]="allErrors$ | async"
            displayType="indicator"
          ></sh-server-field-error>
        </ng-template>
        <div class="tab-body">
          <p>Keywords and phrases for parsing steps</p>
          <div class="container">
            <div class="row">
              <div class="col-md-3">Step prefixes:</div>
              <div class="col-md-9">
                <ng-container
                  *ngTemplateOutlet="
                    configure_keywords;
                    context: {
                      keywords: workspace.gherkinPreferences.stepKeywords,
                      formControl: stepKeywordFormControl,
                      newLabel: 'New step prefix...'
                    }
                  "
                ></ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">Attribute assignment suffixes:</div>
              <div class="col-md-9">
                <ng-container
                  *ngTemplateOutlet="
                    configure_keywords;
                    context: {
                      keywords: workspace.gherkinPreferences.assignmentKeywords,
                      formControl: assignmentKeywordFormControl,
                      newLabel: 'New assignment suffix...'
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="isDirty()" [@inOutAnimation] class="workspace-dirty-actions">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!editable"
        (click)="saveWorkspaceChanges()"
      >
        <fa-icon icon="check-circle"></fa-icon>
        save
      </button>
      <button mat-stroked-button (click)="discardWorkspaceChanges()">
        <fa-icon icon="times-circle"></fa-icon>
        cancel
      </button>
    </div>
  </div>

  <ng-template
    #configure_keywords
    let-keywords="keywords"
    let-formControl="formControl"
    let-newLabel="newLabel"
  >
    <mat-form-field class="chip-list">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let keyword of keywords"
          [selectable]="false"
          [removable]="editMode && keywords.length > 1"
          (removed)="removeStepKeyword(keywords, keyword)"
          color="primary"
          class="text-monospace"
        >
          {{ keyword }}
          <fa-icon
            icon="minus-circle"
            matChipRemove
            *ngIf="editMode && keywords.length > 1"
          ></fa-icon>
        </mat-chip>
        <input
          [placeholder]="newLabel"
          class="text-monospace"
          [disabled]="!editMode"
          [formControl]="formControl"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addStepKeyword(keywords, $event, formControl)"
        />
        <mat-error *ngIf="formControl && formControl.hasError('pattern')">
          Please enter a phrase containing the '@ATTRIBUTE' placeholder
        </mat-error>
      </mat-chip-list>
    </mat-form-field>
  </ng-template>
</div>
