<div class="container">
  <div
    *ngIf="workspace$.asObservable() | async as workspace"
    [ngClass]="routeAnimationsElements"
  >
    <div class="media">
      <fa-icon
        [icon]="['fas', 'box']"
        class="heading align-self-start mr-3"
      ></fa-icon>
      <div class="media-body">
        <h3 class="mt-0">{{ workspace.name }}</h3>
        <!-- <p>...</p> -->
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Base"></mat-tab>
      <mat-tab label="Features"></mat-tab>
      <mat-tab label="Providers"></mat-tab>
      <mat-tab label="Custom steps"></mat-tab>

      <mat-tab label="Variables ({{ keys(workspace.variables).length }})">
        Variables for increasing re-use and flexibility in tests
        <table
          mat-table
          [dataSource]="arrayOfMap(workspace.variables)"
          class="mat-elevation-z8"
        >
          <tr
            mat-header-row
            *matHeaderRowDef="['key', 'value', 'defaultValue', 'schema']"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: ['key', 'value', 'defaultValue', 'schema']
            "
          ></tr>

          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.key }}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.value }}
            </td>
          </ng-container>
          <ng-container matColumnDef="defaultValue">
            <th mat-header-cell *matHeaderCellDef>Default</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.defaultValue }}
            </td>
          </ng-container>
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>JSON-Schema</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.schema }}
            </td>
          </ng-container>
        </table>
      </mat-tab>

      <mat-tab label="Syntax preferences">
        <div class="tab-body">
          <p>Keywords and phrases for parsing steps</p>
          <div class="container">
            <div class="row">
              <div class="col-md-3">Step prefixes:</div>
              <div class="col-md-9">
                <ng-container
                  *ngTemplateOutlet="
                    configure_keywords;
                    context: {
                      keywords: workspace.gherkinPreferences.stepKeywords,
                      formControl: stepKeywordFormControl,
                      newLabel: 'New step prefix...'
                    }
                  "
                ></ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">Attribute assignment suffixes:</div>
              <div class="col-md-9">
                <ng-container
                  *ngTemplateOutlet="
                    configure_keywords;
                    context: {
                      keywords: workspace.gherkinPreferences.assignmentKeywords,
                      formControl: assignmentKeywordFormControl,
                      newLabel: 'New assignment suffix...'
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template
    #configure_keywords
    let-keywords="keywords"
    let-formControl="formControl"
    let-newLabel="newLabel"
  >
    <mat-form-field class="chip-list">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let keyword of keywords"
          [selectable]="false"
          [removable]="editable"
          (removed)="removeStepKeyword(keywords, keyword)"
          color="primary"
          class="text-monospace"
        >
          {{ keyword }}
          <fa-icon icon="minus-circle" matChipRemove></fa-icon>
        </mat-chip>
        <input
          [placeholder]="newLabel"
          class="text-monospace"
          [disabled]="!editable"
          [formControl]="formControl"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addStepKeyword(keywords, $event, formControl)"
        />
        <mat-error *ngIf="formControl && formControl.hasError('pattern')">
          Please enter a phrase containing the '@ATTRIBUTE' placeholder
        </mat-error>
      </mat-chip-list>
    </mat-form-field>
  </ng-template>
</div>
