@import "../../../../styles-variables";

.container {
  margin-top: 20px;
}

.chip-list {
  width: 100%;
}

.items-headers-align .mat-expansion-panel-header-title,
.items-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.items-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.tab-body {
  padding: 1em;

  table {
    width: 100%;
  }
}

.workspace-dirty-actions {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  text-align: right;
  z-index: 100;

  button {
    margin: 0 0.5rem;
  }
}

mat-tab-group {
  margin-bottom: 4rem;
}

.variables-container {
  overflow-x: auto;

  .mat-column-action {
    white-space: nowrap;
  }
}
