@import "../../../../../styles-variables";

.request {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.fragment .comment,
.fragment .doc-string,
.fragment .data-table {
  font-size: 0.9em;
  white-space: pre;
}
